html {
  margin: 0px;
  padding: 0px;
}

main {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 992px) {
  body {
    width: 100%;
    margin: auto;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.btn-rose {
  width: 50%;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
  box-shadow: 0 3px 10px rgb(165, 165, 165);
  height: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
  z-index: 1;
  text-align: center;
}
@media (min-width: 992px) {
  .btn-rose {
    margin-left: 25%;
    margin-right: 25%;
  }
}
.btn-rose:hover {
  opacity: 0.9;
  box-shadow: 0 5px 15px rgb(92, 92, 92);
}

.loa {
  width: 100%;
  height: 100%;
  background-color: gray;
  padding: 0%;
  margin: 0%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.opa {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2000;
  animation: apparition 3.1s;
  animation-fill-mode: forwards;
}
@keyframes apparition {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}

.loader {
  width: 300px;
  height: 300px;
  border-top: 5px solid #9356DC;
  border-bottom: 5px solid #FF79DA;
  border-right: transparent;
  border-left: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  z-index: 2000;
  opacity: 0;
  background-color: white;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.ele-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  overflow: hidden;
  width: 96%;
  padding: 2%;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgb(165, 165, 165);
}
.ele-menu:hover .ele-menu__texte {
  padding-right: 50px;
}
@media (max-width: 992px) and (min-width: 769px) {
  .ele-menu:hover .ele-menu__texte {
    padding-right: 100px;
  }
}
.ele-menu:hover .ele-menu__validation {
  transform: translatex(-100%);
  width: 50px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) and (min-width: 769px) {
  .ele-menu:hover .ele-menu__validation {
    width: 100px;
  }
}
.ele-menu:hover .ele-menu__prix {
  transform: translatex(-50px);
}
@media (max-width: 992px) and (min-width: 769px) {
  .ele-menu:hover .ele-menu__prix {
    transform: translateX(-100px);
  }
}
.ele-menu:hover .fa-circle-check {
  transform: rotate(360deg);
}
.ele-menu__validation {
  width: 50px;
  position: absolute;
  right: -50px;
  top: 0px;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 330ms ease-in-out;
}
@media (max-width: 992px) and (min-width: 769px) {
  .ele-menu__validation {
    right: -100px;
  }
}
.ele-menu__validation .fa-circle-check {
  transition: transform 500ms;
  color: white;
}
.ele-menu__prix {
  width: 10%;
  padding-right: 10px;
  font-size: 15px;
  font-weight: bold;
  transition: transform 330ms ease-in-out;
  margin-left: 20px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: 3px;
}
.ele-menu__texte {
  width: 90%;
  margin-top: -18px;
  padding-top: 0px;
  transition: padding-right 330ms ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  line-height: 25px;
}
.ele-menu__texte p {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
}
.ele-menu__texte strong {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 18px;
}

.ele-menu {
  opacity: 0;
  animation: appa 1s;
  animation-fill-mode: forwards;
}
@keyframes appa {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.partie-du-repas:nth-child(1) :nth-child(3) {
  animation-delay: 0.3s;
}
.partie-du-repas:nth-child(1) :nth-child(4) {
  animation-delay: 0.6s;
}
.partie-du-repas:nth-child(1) :nth-child(5) {
  animation-delay: 0.9s;
}

.partie-du-repas:nth-child(2) :nth-child(3) {
  animation-delay: 1.2s;
}
.partie-du-repas:nth-child(2) :nth-child(4) {
  animation-delay: 1.5s;
}
.partie-du-repas:nth-child(2) :nth-child(5) {
  animation-delay: 1.8s;
}

.partie-du-repas:nth-child(3) :nth-child(3) {
  animation-delay: 2.1s;
}
.partie-du-repas:nth-child(3) :nth-child(4) {
  animation-delay: 2.4s;
}
.partie-du-repas:nth-child(3) :nth-child(5) {
  animation-delay: 2.7s;
}

.coeur__2 {
  font-size: 2px;
  transition: transform 500ms ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 13px;
  right: 9px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -webkit-linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.coeur:hover .coeur__2 {
  opacity: 1;
  transform: scale(11);
}
.coeur:hover {
  cursor: pointer;
}

.header1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header1 img {
  width: 250px;
  height: 50px;
  object-fit: contain;
  padding-top: 15px;
  padding-bottom: 10px;
}

.header2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header2__logo {
  display: flex;
  justify-content: center;
}
.header2 img {
  width: 250px;
  height: 50px;
  object-fit: contain;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 4%;
  margin-right: 4%;
}
@media (max-width: 340px) {
  .header2 img {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}
.header2__btn {
  position: absolute;
  top: 30px;
  left: 6%;
  text-decoration: none;
  color: black;
}
@media (max-width: 320px) {
  .header2__btn {
    left: 3%;
  }
}

.foot {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  background-color: rgba(0, 0, 0, 0.831372549);
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}
.foot img {
  width: 100px;
  object-fit: cover;
  color: white;
  filter: invert(1);
  padding-bottom: 20px;
  padding-top: 10px;
}
.foot__element {
  display: flex;
  flex-direction: row;
}
.foot__element p {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.foot__element i {
  position: relative;
  top: 5px;
  padding-right: 10px;
}
.foot__element a {
  text-decoration: none;
  color: white;
  z-index: 1;
}

.introduction {
  width: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #F2F2F2;
}
@media (min-width: 992px) {
  .introduction {
    width: 100%;
    margin: auto;
  }
}
.introduction__position {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(229, 229, 230);
  width: 100%;
}
.introduction i {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.introduction__decouvrer {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
.introduction__reserver {
  padding-left: 5%;
  padding-right: 5%;
}
.introduction h2 {
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.pre_restaurants {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 40px;
  background-color: #F2F2F2;
}
@media (min-width: 992px) {
  .pre_restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .rest--titre {
    width: 100%;
    text-align: center;
  }
}

.restaurants {
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgb(221, 221, 221);
  text-decoration: none;
  color: black;
}
@media (min-width: 992px) {
  .restaurants {
    width: 45%;
  }
}
.restaurants h2 {
  width: 100%;
  align-items: center;
}
.restaurants__localisation {
  margin: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.restaurants p {
  margin: 0px;
  padding: 0px;
}
.restaurants img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: rgb(10, 137, 29);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
  border-radius: 3px;
  font-weight: 400;
  padding-right: 11px;
  padding-left: 11px;
  font-size: 16px;
}
.restaurants__image {
  width: 100%;
  margin-bottom: -4px;
}
.restaurants__nom {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  background-color: white;
}
.restaurants__nom__nom {
  width: 90%;
  font-weight: 700;
  padding-top: 10px;
}
.restaurants__nom__coeur {
  display: flex;
  align-items: center;
  position: relative;
  top: 10px;
}

.pre_restaurants {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 40px;
  background-color: #F2F2F2;
}
@media (min-width: 992px) {
  .pre_restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .rest--titre {
    width: 100%;
    text-align: center;
  }
}

.restaurants {
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgb(221, 221, 221);
  text-decoration: none;
  color: black;
}
@media (min-width: 992px) {
  .restaurants {
    width: 45%;
  }
}
.restaurants h2 {
  width: 100%;
  align-items: center;
}
.restaurants__localisation {
  margin: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.restaurants p {
  margin: 0px;
  padding: 0px;
}
.restaurants img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: rgb(10, 137, 29);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
  border-radius: 3px;
  font-weight: 400;
  padding-right: 11px;
  padding-left: 11px;
  font-size: 16px;
}
.restaurants__image {
  width: 100%;
  margin-bottom: -4px;
}
.restaurants__nom {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  background-color: white;
}
.restaurants__nom__nom {
  width: 90%;
  font-weight: 700;
  padding-top: 10px;
}
.restaurants__nom__coeur {
  display: flex;
  align-items: center;
  position: relative;
  top: 10px;
}

#fonctionnement {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  #fonctionnement {
    width: 90%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  #fonctionnement h2 {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .fonctionnement__titre {
    width: 100%;
  }
}

.element {
  display: flex;
  border-radius: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  background-color: #F2F2F2;
  box-shadow: 0 3px 10px rgb(221, 221, 221);
  z-index: 1;
}
.element:hover {
  background-color: rgba(147, 86, 220, 0.1607843137);
}
.element:hover i {
  color: #9356DC;
}
@media (min-width: 992px) {
  .element {
    width: 30%;
  }
}
.element__symbole {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 30px;
}
@media (min-width: 992px) {
  .element__symbole {
    padding-right: 3%;
    padding-left: 3%;
  }
}
.element__numero {
  position: relative;
  right: 14px;
  color: white;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.element__numero p {
  font-weight: 300;
  background-color: #9356DC;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
}

.image--titre {
  position: relative;
}

.menu-image {
  position: relative;
  width: 100%;
  height: 300px;
  z-index: 1;
}
.menu-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.titre {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -50px;
  margin-bottom: -20px;
  background-color: #F2F2F2;
}
.titre__nom {
  padding-bottom: 10px;
}
.titre__coeur {
  height: 121.59px;
  display: flex;
  align-items: center;
  font-size: 30px;
  position: relative;
}
.titre__coeur--2 {
  font-size: 3px;
  transition: transform 500ms ease-in-out;
  right: 13.4px;
  bottom: 60px;
  position: absolute;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -webkit-linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  opacity: 0;
}
.titre__coeur:hover .titre__coeur--2 {
  opacity: 1;
  transform: scale(11.5);
}

.barre--verte {
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 15px;
  margin-top: 4px;
}

.partie-du-repas {
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .partie-du-repas {
    width: 30%;
    padding-left: 0%;
    padding-right: 0%;
  }
}
.partie-du-repas p {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 17px;
}

.menu {
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
  margin-top: -40px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0px;
}
@media (min-width: 992px) {
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.menu__titre {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
