.loa{
  @include background-loader;
}

 .opa{
  @include disparition-loader;
  animation: apparition 3.1s;
  animation-fill-mode: forwards;
  @keyframes apparition {
    0%{
      opacity: 1;
    }
    99%{
      opacity: 1;
    }
    100%{
      z-index: 0;
      opacity: 0;
    }    
  }
 }
.loader {
  @include spinner;
  animation: rotation 1s linear infinite;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;

    }
}
