.image--titre{
    position: relative;
}
.menu-image{
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 1;
    & img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        
    }
}
.titre{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -50px;
    margin-bottom: -20px;
    background-color: $background-color-principale;
    &__nom{
        padding-bottom: 10px;
    }
    &__coeur{
        height: 121.59px;
        display: flex;
        align-items: center;
        font-size: 30px;
        position: relative;
        &--2{
        font-size: 3px;
        transition: transform 500ms ease-in-out;
        right: 13.4px;
        bottom: 60px;
        position: absolute;
        background:linear-gradient(to bottom right, $color-secondary, $color-primary);
        background:-webkit-linear-gradient(to bottom right, $color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        font-weight: bold;
        opacity: 0;            
        }
    &:hover .titre__coeur--2{
            opacity: 1;
            transform: scale(11.5);
    }
    }

}
.barre--verte{
    width: 50px;
    height: 3px;
    background-color: $color-terciary;
    margin-bottom: 15px;
    margin-top: 4px;
}
.partie-du-repas{
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    @media (min-width: 992px){
        width: 30%;
        padding-left: 0%;
        padding-right: 0%;
    }
    & p{
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 17px;
    }
}
.menu{
    background-color: $background-color-principale;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
    margin-top: -40px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0px;
    @media (min-width: 992px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__titre{
        display: flex;
    }
}

